@import '_lib.scss';

$iconSize: 50px;
$iconAnimDuration: 0.2s;
$iconShadow: 2px 6px 22px 0px rgba(0,0,0,0.4);

$iconBackgroundTransition:
    box-shadow 0.2s,
    transform 0.2s,
    background-color 0.2s;

$iconTransition:
    transform  0.2s,
    filter 0.5s;



.btnIcon{
    @include mark-16-bold;
    display: flex;
    align-items: center;
    position: relative;

    &:before,&:after{
        content: "";
        display: block;
        height: $iconSize;
        width: $iconSize;
        border-radius: 100%;
        transform-origin: center;
    }

    &:before{
        background-color: red;
        margin-right: 1em;
        transition: $iconBackgroundTransition;
    }

    &:after{
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        background-position: center;
        background-repeat: no-repeat;
        transition: $iconTransition;

    }

    &:hover{
        &:before{
            transform: scale(120%);
            -webkit-box-shadow: $iconShadow;
            -moz-box-shadow: $iconShadow;
            box-shadow: $iconShadow;
        }

        &:after{
            transform: scale(130%);
        }
    }
}


.btnIcon--search{
    &:before{
        background-color: $yellow;
    }

    &:after{
        background-image: url('../asset/icon/search.svg');
    }

    &:hover{
        &:before{
            background-color: $turquoise;
        }

        &:after{
            filter: invert(100);
        }
    }
}