@import '_lib.scss';

$btnAnim: 0.3s;
$dropdownAnimDuration: 0.8s;
$btnShadow: 2px 6px 22px 0px rgba(0,0,0,0.1);
$btnMagnetizeStrength: 0.3s;

$btnTransition:
    transform $btnMagnetizeStrength,
    background-color $btnAnim,
    box-shadow $btnAnim;;


.dropdown{
    position: relative;

    @include for-size(desktop-large){
        box-sizing: border-box;
    }
}


.dropdown__btn{
    @include mark-24-bold;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1em;
    color: $red;

    &:after{
        content: "";
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        margin-left: 0.5em;
        background-color: $red;
        -webkit-mask-image: url("/asset/icon/down-arrow.svg");
        mask-image: url("/asset/icon/down-arrow.svg");
        mask-size: contain;
        transform-origin: center;
        transition: transform $btnAnim;
    }

    &--open{
        &:after{
            transform: rotateZ(-180deg);
        }
    }

    @include for-size(desktop-large){
        margin: 0;
        @include mark-18-bold;
        color: black;
        padding: 0.3em 0.5em;
        border-radius: 1em;
        box-sizing: border-box;
        transition: $btnAnim;

        &:after{
            background-color: $orange;
        }

        &:hover{
            background-color: $yellow;
            -webkit-box-shadow: $btnShadow;
            -moz-box-shadow: $btnShadow;
            box-shadow: $btnShadow;
        }

        &--open{
            transform: scale(150%);
            background-color: $yellow;
            -webkit-box-shadow: $btnShadow;
            -moz-box-shadow: $btnShadow;
            box-shadow: $btnShadow;
        }
    }
}


.dropdown__link__li{
    max-height: 0px;
    overflow: hidden;
    box-sizing: content-box;
    padding-left: 1em;
    margin-left: 2em;
    border-left: solid 1px $yellow-dark;;
    transition: max-height $dropdownAnimDuration;

    &--open{
        max-height: 500px;
    }

    @include for-size(desktop-large){
        position: absolute;
        top: calc(100% + 1em);
        transition-delay: 0;
        padding: 0;
        margin: 0;
        left: 0;
        border: none;
        background-color: white;
        min-width: 200px;

        &--open{
            transition-delay: $btnMagnetizeStrength;
        }
    }
}


.dropdown__link__el{
    @include mark-18-bold;
    padding: 1em 0;

    .dropdown__link{
        color: $red;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:after{
            content: "";
            height: 0.5em;
            width: 0.5em;
            display: inline-block;
            margin-left: 0.5em;
            background-color: $red;
            -webkit-mask-image: url("/asset/icon/down-arrow.svg");
            mask-image: url("/asset/icon/down-arrow.svg");
            mask-size: contain;
            transform-origin: center;
            transform: rotateZ(-90deg);
        }
    }

    @include for-size(smallerThanDesktopLarge){
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .dropdown__link{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:after{
                content: "";
                height: 0.5em;
                width: 0.5em;
                display: inline-block;
                margin-left: 0.5em;
                background-color: $red;
                -webkit-mask-image: url("/asset/icon/down-arrow.svg");
                mask-image: url("/asset/icon/down-arrow.svg");
                mask-size: contain;
                transform-origin: center;
                transform: rotateZ(-90deg);
            }
        }
    }

    @include for-size(desktop-large){
        @include mark-16;
        border-bottom: solid 1px $green-light;
        transition: background-color $btnAnim;
        padding: 0;

        .dropdown__link{
            color: $green-dark;
            padding: 0.5em 1em;

            &:after{
                background-color: $green-dark;
            }
        }

        &:hover{
            background-color: $green-light;

            .dropdown__link{
                color: $turquoise;
                &:after{
                    background-color: $turquoise;
                }
            }
        }
    }
}

