$contentMaxWidth: 1300px;

$paddingMobile: 18px;
$paddingTablet: 36px;
$paddingDesktop: 50px;

$resolution-tablet: 768px;
$resolution-desktop: 998px;
$resolution-desktop-large: 1280px; 
        
@mixin for-size($size){
    @if $size == tablet {
        @media (min-width: #{$resolution-tablet}) {@content;}
    } @else if $size == desktop {
        @media (min-width: #{$resolution-desktop}) {@content;}
    } @else if $size == desktop-large {
        @media (min-width: #{$resolution-desktop-large}) {@content;}
    }@else if $size == smallerThanTablet {
        @media (max-width: #{$resolution-tablet}) {@content;}
    } @else if $size == smallerThanDesktop {
        @media (max-width: #{$resolution-desktop}) {@content;}
    }@else if $size == smallerThanDesktopLarge {
        @media (max-width: #{$resolution-desktop-large}) {@content;}
    }
}


/*-------COLORS-------------------------------*/
$gray-light: #F0F0F0;
$gray: #8D8D8D;
$green: #C1DFC4;
$green-dark: #709172;
$green-light: #ddf0df;
$orange-light: #E55726;
$orange: #EA5B0C;
$orange-dark: #E55726;
$yellow: #FED386;
$yellow-light: #fcdea7;
$yellow-dark: #edc06f;
$turquoise: #006376;
$red: #EF7875;


/*-------FONTS-------------------------------*/

@mixin mark-13{
    font-size: 13px;
    font-weight: normal;
}

@mixin mark-13-bold{
    font-size: 13px;
    font-weight: bold;
}

@mixin mark-16{
    font-size: 16px;
    font-weight: normal;
}

@mixin mark-16-bold{
    font-size: 16px;
    font-weight: bold;
}

@mixin mark-18{
    font-size: 18px;
    font-weight: normal;
}

@mixin mark-18-bold{
    font-size: 18px;
    font-weight: bold;
}

@mixin mark-24{
    font-size: 24px;
    font-weight: normal;
}

@mixin mark-24-bold{
    font-size: 24px;
    font-weight: bold;
}

@mixin mark-32{
    font-size: 32px;
    font-weight: normal;
}

@mixin mark-32-bold {
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
}

@mixin mark-68{
    font-size: 68px;
    font-weight: normal;
}

@mixin mark-68-bold {
    font-size: 68px;
    font-weight: bold;
}

@mixin aileron-13{
    font-size: 13px;
    font-weight: normal;
}

@mixin aileron-13-bold{
    font-size: 13px;
    font-weight: bold;
}



/*-------GLOBAL-------------------------------*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn{
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    display: inline-block;
}

.title__deco{
    color: $orange;
}


@mixin contentBlock{
    padding-left: $paddingMobile;
    padding-right: $paddingMobile;
    box-sizing: border-box;

    @include for-size(tablet){
        padding-left: $paddingTablet;
        padding-right: $paddingTablet;
    }

    @include for-size(desktop){
        padding-left: $paddingDesktop;
        padding-right: $paddingDesktop;
    }
}