@import '_lib.scss';

$linkIconSize: 32px;
$logoSize: 39px;
$burgerSize: 32px;
$burgerHeight: 20px;
$burgerWidth: 39px;
$burgerSize: max($burgerHeight, $burgerWidth);
$burgerLineThickness: 3px;
$burgerAnimDuration: 0.4s;
$menuAnimDuration: 0.8s;
$menuCircleTop: ($logoSize / 2) + 10px;
$menuCircleLeftMobile: calc(100% - #{$paddingMobile} - (#{$burgerSize} / 2));
$menuCircleLeftTablet: calc(100% - #{$paddingTablet} - (#{$burgerSize} / 2));

@mixin menuCirclePos{
    clip-path: circle(0% at calc(100% - #{$paddingMobile} - (#{$burgerSize} / 2)) $menuCircleTop);

    @include for-size(tablet){
        clip-path: circle(0% at calc(100% - #{$paddingTablet} - (#{$burgerSize} / 2)) $menuCircleTop);
    }

    @include for-size(desktop){
        clip-path: circle(0% at calc(100% - #{$paddingDesktop} - (#{$burgerSize} / 2)) $menuCircleTop);
    }
}

.navbar{
    @include contentBlock;

    padding-top: 10px;
    padding-bottom: 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: $green;
    z-index: 1000;
}

.navbar__link{

    color: $red;
    text-decoration: none;

    &--logo{
        grid-column: 1/2;
        justify-self: start;
        z-index: 100;
        height: $logoSize;
        width: $logoSize;
        overflow: hidden;
        text-indent: 100%;
        background-image: url('/asset/img/logo-binche.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.navbar__link__el{
    @include mark-24;

    &--bold{
        @include mark-24-bold;
    }
}

.navbar__burger{
    grid-column: 2/3;
    justify-self: end;
    z-index: 100;
    height: $burgerSize;
    width: $burgerSize;
    max-height: $burgerSize;
    max-width: $burgerSize;
    overflow: hidden;
    text-indent: 100%;
    //background-color: red;
    //border: solid 1px black;
    position: relative;

    &:before,&:after{
        content: "";
        height: $burgerLineThickness;
        width: 100%;
        background-color: black;
        position: absolute;
        right: 0;
        transform-origin: center;
        border-radius: $burgerLineThickness;
    }

    &:before{
        top: ($burgerSize - $burgerHeight)/2;
    }

    &:after{
        bottom: ($burgerSize - $burgerHeight)/2;
        width: 0.6 * $burgerWidth;
    }

    &--menuOpen{
        &:before{
            top: calc(50% - #{$burgerLineThickness / 2});
            transform: rotate(45deg);
        }

        &:after{
            bottom: calc(50% - #{$burgerLineThickness / 2});
            transform: rotate(-45deg);
            width: 100%;
        }
    }
}

.navbar__menu{
    @include menuCirclePos;
}

@include for-size(smallerThanTablet){
    //@include contentBlock;
    .navbar__menu{
        @include contentBlock;
    }
}

@include for-size(tablet){
    .navbar__menu{
        > * {
            max-width: calc(50%);
            margin: auto;
        }
    }
}


@include for-size(smallerThanDesktopLarge){
    .navbar{
        &:after{
            content: "";
            //display: block;
            display: none;
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $yellow;
            pointer-events: none;
            transition: opacity $menuAnimDuration;
            clip-path: circle(0%);

        }

        &:before{
            content: "";
            //display: block;
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: inherit;
            z-index: 50;
            transition: box-shadow $menuAnimDuration;
        }

        &--menuOpen{
            &:before{
                -webkit-box-shadow: 0px -8px 26px 7px rgba(0,0,0,0.40);
                -moz-box-shadow: 0px -8px 26px 7px rgba(0,0,0,0.40);
                box-shadow: 0px -8px 26px 7px rgba(0,0,0,0.40);
            }

            &:after{
                clip-path: circle(40%);
            }
        }
    }

    .navbar__menu{
        //@include contentBlock;

        padding-top: 98px;
        //padding-bottom: $paddingTablet;
        position: absolute;
        top: 0;
        //transform: translateY(-100%);
        background-color: $yellow;
        width: 100%;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;
        box-sizing: border-box;
        overflow: hidden;
        transition: clip-path $menuAnimDuration;
        z-index: 10;
        pointer-events: none;
    
        &--open{
            //transform: translateY(0);
            pointer-events: all;
            display: block;
            //visibility: visible;
            clip-path: circle(200% at 0 0);
            overflow-y: scroll;
        }
    }

    .navbar__link__el{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0.5em 0;
            position: relative;

            &:nth-child(2){
                padding-bottom: 2rem;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $yellow-dark;
                }
            }

            &:nth-child(3){
                padding-top: 2rem;
            }

            &:nth-child(4){
                padding-bottom: 2rem;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $yellow-dark;

                }
            }

        .navbar__link{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:before{
                content: '';
                display: inline-block;
                height: $linkIconSize;
                width: $linkIconSize;
                background-color: gray;
                margin-right: 1em;
            }
        }
    }

    .dropdown__li{
        padding-top: 1em;
        //padding-left: $linkIconSize + 18px;
    }

    .dropdown__el{
        padding: 1em 0 0 0;
        
    }
}


@include for-size(desktop-large){
    .navbar{
        grid-template-columns: 1fr 11fr;
        padding-top: $paddingMobile;
        padding-bottom: $paddingMobile;
    }

    .navbar__burger{
        display: none;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        clip-path: none;

        > * {
            max-width: none;
        }
    }


    .navbar__link__li{
        grid-column: -1/-5;
        grid-row: 1;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .navbar__link__el{
        @include aileron-13;
        margin-left: 1.5em;

        .navbar__link{
            color: black;
            transition: color 0.3s;

            &:hover{
                color: $turquoise;
            }
        }

        &:nth-child(2){
            margin-left: 3rem;
        }

        &--bold{
            @include aileron-13-bold;
        }
    }


    .dropdown__li{
        grid-column: 3/9;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown__el{
        margin-right: 1em;
        &:last-child{
            margin: 0;
        }
    }
}